<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>
<%=link_to "患者の新規登録","#"%>
<%=link_to "患者の編集","#"%>
<%=link_to "先生の新規登録","#"%>
<%=link_to "先生の編集","#"%>
<%=link_to "診察枠の編集","#"%>
<%=link_to "予約確認","#"%>
