
<% if current_account%>
  <%= link_to "アカウントの削除", current_account, method: :delete,
              data: { confirm: "本当に削除しますか?" } %>
  <%=link_to "患者の編集","accounts/#{current_account.id}/edit"%>
  <%=link_to "診察枠の予約","appointments/new"%>
  <%=link_to "予約確認,変更,削除","appointments"%>
<%elsif current_admin%>
  <%=link_to "患者一覧","accounts"%>
  <%=link_to "診察枠一覧","periods"%>
  <%=link_to "先生一覧","doctors"%>
<%elsif current_doctor%>
  <%=link_to "先生の新規登録","doctors/new"%>
  <%=link_to "カルテ一覧","logs"%>
  <%=link_to "予約確認","appointments"%>
<%else%>
  <h1>初診の方は会員登録をしてください</h1>
<%end%>

