<% @page_title="先生の新規登録"%>

<div class="ttolbar"><%=link_to "会員の詳細に戻る","/"%></div>

<h1><%=page_title%></h1>
<%=form_for @period do |form|%>
  <%=render "form2", form: form%>
  <div><%=form.submit%></div>
<%end%>