<% @page_title = "診察状況" %>
<h1><%= @page_title %></h1>


<% if @period.present? %>
  <table class="list">
    <thead>
      <tr>
        <th></th>
        <th>担当医</th>
        <th>時間</th>
        <th>予約人数</th>
        <th>上限</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @period.each do |period| %>
        <tr>
          <td style="text-align: right"></td>
          <td><%= period.doctor.name%></td>
          <td><%= period.time %></td>
          <td><%= period.number %></td>
          <td><%= period.maxnumber %></td>
           <td>
              <%= link_to "編集", [:edit, period] %> |
              <%= link_to "削除", period, method: :delete,
                data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>会員情報がありません。</p>
<% end %>
