<table class="attr">
  <tr>
    <th><%= form.label :name, "氏名" %></th>
    <td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <th><%= form.label :password, "パスワード" %></th>
    <td><%= form.text_field :password %></td>
  </tr>
   <tr>
    <th><%= form.label :department_id, "診察科" %></th>
    <td><%= form.collection_select :department_id,Department.all,:id,:name%></td>
  </tr>
</table>
