<% @page_title="先生の新規登録"%>

<div class="toolbar"><%=link_to "先生一覧に戻る","/doctors"%></div>

<h1><%=page_title%></h1>
<%=form_for @doctor do |form|%>
  <%=render "form", form: form%>
  <div><%=form.submit%></div>
<%end%>