<h5><%="#{Period.find(11).date}~#{Period.find(20).date}"%></h5>
<%=link_to "<<#{Period.find(1).date}~#{Period.find(10).date}","new"%>
<%=link_to "#{Period.find(21).date}~#{Period.find(30).date}>>","new3"%>
<table class="attr">
  <tr>
    <th><%= form.label :department_id ,"診察科" %></th>
    <td><%= form.collection_select :department_id,Department.all,:id,:name%></td>
  </tr>
  <%if current_account.appointments.present?%>
    <tr>
      <th><%= form.label :period_id, "時間" %></th>
      <td><%= form.collection_select :period_id,Period.where(id:11..20).where(before:false),:id,:time%></td>
    </tr>
  <%elsif%>
    <tr>
      <th><%= form.label :period_id, "時間" %></th>
      <td><%= form.collection_select :period_id,Period.where(id:11..20).where(before:true),:id,:time%></td>
    </tr>
  <%end%>
</table>
