<%@page_title="予約情報"%>
<h1><%=@page_title%></h1>

<%= form_tag(search_path, method: :get) do %>
  <%= text_field_tag 'content' %>
  <%= select_tag 'model', options_for_select({ "診察科" => "department", "時間" => "period" }) %>
  <%= select_tag 'method', options_for_select({ "完全一致" => "perfect", "部分一致" => "partial" }) %>
  <%= submit_tag '検索' %>
<% end %>


<% if @appointment.present?%>
  <table class="list">
    <thead>
      <tr>
        <th></th>
        <th>氏名</th>
        <th>診察科</th>
        <th>時間</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @appointment.each do |appointment|%>
        <tr>
          <td style="text-align: right"></td>
          <td><%= appointment.account.name %></td>
          <td><%= appointment.department.name %></td>
          <td><%= appointment.period.time %></td>
          <td>
            <%=link_to"編集",[:edit,appointment]%>
            <%=link_to"削除",appointment,method: :delete,
             data: {confirm: "本当に削除しますか？"}%>
          </td>
        </tr>
      <%end%>
    </tbody>  
  </table>
<%else%>
  <p>会員情報がありません</p>
<%end%>