<% @page_title = "会員名簿" %>
<h1><%= @page_title %></h1>
<%# 
<div class="toolbar"><%= link_to "会員の新規登録", :new_member %></div> %>

<% if @patients.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>氏名</th>
        <th>電話番号</th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td style="text-align: right"></td>
          <td><%= patient.name %></td>
          <td><%= patient.number %></td>
          <td>
            <%= link_to "編集", [:edit, patient] %> |
            <%= link_to "削除", patient, method: :delete,
              data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>会員情報がありません。</p>
<% end %>
