<% @page_title = "患者名簿" %>
<h1><%= @page_title %></h1>
<%# 
<div class="toolbar"><%= link_to "会員の新規登録", :new_member ></div>%>

<% if @account.present? %>
  <table class="list">
    <thead>
      <tr>
        <th></th>
        <th>氏名</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @account.each do |account| %>
        <tr>
          <td style="text-align: right"></td>
          <td><%=link_to account.name,account %></td>
          <td>
            <%= link_to "編集", [:edit, account] %> |
            <%= link_to "削除", account, method: :delete,
              data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>会員情報がありません。</p>
<% end %>
